[user]
        name = Evan Long
        email = annglove@gmail.com

[alias]
        wu = log --stat origin..@{0}
        wup = log -p origin..@{0}
        up = pull --rebase
        track = branch --track
        kill-remote = push origin :$1
        mike-lewis = blame
        co = checkout
        kdiff3 = mergetool -t kdiff3
        diffc = diff --cached
        difftoolc = difftool --cached

[color]
    diff = auto
    status = auto
    branch = auto

[push]
    default = upstream

[core]
    excludesfile = ~/.gitignore_global
	editor = subl -n -w

